:root {
  --primary-color: rgb(139, 45, 45);
  --secundary-color: #7b7474;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.hero h1 {
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}

.content-container h1 {
  margin-top: 90px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.content-container h3 {
  font-weight: bold;
}

.hero h3 {
  margin-top: 100px;
}
.hero p {
  margin-bottom: 60px;
  color: var(--primary-color);
}

.hero h3,
p {
  font-size: 24px;
  font-weight: 300;
  color: var(--secundary-color);
  text-align: center;
}

.hero img {
  margin: 0 auto;
  max-width: 60%;
  display: block;
}

.home-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.home-page h2 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
}

.home-page a {
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
  text-decoration: none;
  color: black;
}

.home-page p {
  font-size: 18px;
  margin: 50px 0;
  max-width: 100%;
  text-align: left;
}

.home-page h4 {
  font-size: 18px;
  margin: 20px;
  text-align: center;
  font-weight: 300;
  color: var(--secundary-color);
}

.content-container {
  color: black;
  text-decoration: none;
  font-size: 38px;
  margin: 0 100px;
}

.content-container p {
  font-size: 20px;
}

.content-container a {
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

.project-subtitle {
  font-size: 20px;
  font-weight: 200;
  color: black;
  text-decoration: none;
  display: block;
  margin-top: 30px;
}

.work-inquiry {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  margin-bottom: 100px;
}

.work-inquiry h2 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
}

.work-inquiry h3 {
  font-size: 24px;
  font-weight: 300;
  color: var(--secundary-color);
}

.work-inquiry a {
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.work-inquiry a:hover {
  color: var(--primary-color);
}

.work-inquiry button.btn {
  margin-top: 145px;
  padding: 10px 30px;
  white-space: nowrap;
}

.social-links a {
  margin: 0 20px;
}

@media (max-width: 576px) {
  .page-content {
    margin-bottom: 50px;
  }

  p {
    text-align: center;
    margin: 0 30px;
  }

  .project-subtitle {
    margin-bottom: 30px;
  }

  .home-page h2,
  a {
    font-size: 40px;
  }
}
